@font-face {
    font-family: 'Meridien LT Std';
    src: url('../fonts/meridien/MeridienLTStd-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meridien LT Std';
    src: url('../fonts/meridien/MeridienLTStd-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meridien LT Std';
    src: url('../fonts/meridien/MeridienLTStd-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meridien LT Std';
    src: url('../fonts/meridien/MeridienLTStd-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meridien LT Std';
    src: url('../fonts/meridien/MeridienLTStd-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* PRIMARY COLOR */
    --pm-primary-900: #A89968;
    --pm-primary-800: #B0A376;
    --pm-primary-700: #C2B795;
    --pm-primary-600: #CBC2A4;
    --pm-primary-500: #D3CCB3;
    --pm-primary-400: #DCD6C2;
    --pm-primary-300: #EEEBE1;
    --pm-primary-200: #F6F5EF;
    --pm-primary-100: #FBFAF7;
    --pm-primary-50: #C8B18B;
    --pm-primary-10: #ECEBE5;

    /* SECONDARY COLOR */
    --pm-secondary-900: #323232;
    --pm-secondary-800: #8A8D8F;
    --pm-secondary-700: #84754E;

    /* FONTS */
    --pm-font-primary: "Agenda", sans-serif;
    --pm-font-secondary: "Meridien LT Std", sans-serif;

}

html { scrollbar-gutter: stable; }


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--pm-font-primary);
    color: var(--pm-secondary-900);
}

/* LINKS GENERALES */
a {
    color: var(--pm-primary);
    text-decoration: none;
}

/* TITULOS */
h1, h2, h3, h4 {
    font-weight: 600;
    margin: 0 0 0.75rem;
}

/* Buttons */
.btn {
    font-weight: 300;
}

.btn-primary {
    background: transparent;
    color: var(--pm-secondary-900);
    border: none;
    border-radius: 0;
    text-decoration: none;
    box-shadow: none;
    transition: opacity .25s ease;
}

.btn-primary:hover,
.btn-primary:focus {
    color: var(--pm-secondary-900);
    background-color: #fff;
    border-color: #fff;
    border-radius: 0;
}

.btn-secondary {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-radius: 0;
}
.btn-secondary:hover,
.btn-secondary:focus{
    color: var(--pm-secondary-900);
    background-color: #fff;
    border-color: #fff;
    border-radius: 0;
    transition: background-color .25s ease;
}

.btn-border-bottom-black {
    position: relative;
    border-bottom: none !important;
    padding-left: 0;
    padding-right: 0;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 0;
}

.btn-border-bottom-black::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--pm-secondary-900);
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.btn-border-bottom-black:hover::after {
    transform: scaleX(0);
}



/* CONTENIDO PRINCIPAL */
.content-area {
    flex: 1 0 auto;
}

/* FOOTER */
.site-footer {
    flex-shrink: 0;
    font-size: 0.875rem;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 4rem;
    --bs-gutter-y: 0;
}

/* Media queries */
@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 992px !important;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px !important;
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1400px !important;
    }
}

/* OCULTAR EL BADGE DE reCAPTCHA v3 */
.grecaptcha-badge {
    visibility: hidden !important;
    opacity: 0 !important;
    display: none !important;
}

/* Class Media Queries Custom Bootstrap */
@media (min-width: 576px) {
    .px-sm-0 { padding-left: 0 !important; padding-right: 0 !important; }
    .px-sm-1 { padding-left: .25rem !important; padding-right: .25rem !important; }
    .px-sm-2 { padding-left: .5rem !important; padding-right: .5rem !important; }
    .px-sm-3 { padding-left: 1rem !important; padding-right: 1rem !important; }
    .px-sm-4 { padding-left: 2rem !important; padding-right: 2rem !important; }
    .px-sm-5 { padding-left: 3rem !important; padding-right: 3rem !important; }
}
@media (min-width: 768px) {
    .px-md-0 { padding-left: 0 !important; padding-right: 0 !important; }
    .px-md-1 { padding-left: .25rem !important; padding-right: .25rem !important; }
    .px-md-2 { padding-left: .5rem !important; padding-right: .5rem !important; }
    .px-md-3 { padding-left: 1rem !important; padding-right: 1rem !important; }
    .px-md-4 { padding-left: 2rem !important; padding-right: 2rem !important; }
    .px-md-5 { padding-left: 3rem !important; padding-right: 3rem !important; }
}
@media (min-width: 992px) {
    .px-lg-0 { padding-left: 0 !important; padding-right: 0 !important; }
    .px-lg-1 { padding-left: .25rem !important; padding-right: .25rem !important; }
    .px-lg-2 { padding-left: .5rem !important; padding-right: .5rem !important; }
    .px-lg-3 { padding-left: 1rem !important; padding-right: 1rem !important; }
    .px-lg-4 { padding-left: 2rem !important; padding-right: 2rem !important; }
    .px-lg-5 { padding-left: 3rem !important; padding-right: 3rem !important; }
}
@media (min-width: 1200px) {
    .px-xl-0 { padding-left: 0 !important; padding-right: 0 !important; }
    .px-xl-1 { padding-left: .25rem !important; padding-right: .25rem !important; }
    .px-xl-2 { padding-left: .5rem !important; padding-right: .5rem !important; }
    .px-xl-3 { padding-left: 1rem !important; padding-right: 1rem !important; }
    .px-xl-4 { padding-left: 2rem !important; padding-right: 2rem !important; }
    .px-xl-5 { padding-left: 3rem !important; padding-right: 3rem !important; }
}
@media (min-width: 1400px) {
    .px-xxl-0 { padding-left: 0 !important; padding-right: 0 !important; }
    .px-xxl-1 { padding-left: .25rem !important; padding-right: .25rem !important; }
    .px-xxl-2 { padding-left: .5rem !important; padding-right: .5rem !important; }
    .px-xxl-3 { padding-left: 1rem !important; padding-right: 1rem !important; }
    .px-xxl-4 { padding-left: 2rem !important; padding-right: 2rem !important; }
    .px-xxl-5 { padding-left: 3rem !important; padding-right: 3rem !important; }
}